@media only screen and (max-width: 767px) {
    html {
        font-size: 10px;
    }
}

body {
    background: white;
}

.article .ui.secondary.pointing.menu {
    border-bottom-width: 0;
}

 .ui.navigator {
    margin: 0 0 1rem;

}

 .navigator .ui.segment {
    border-width: 0;
}


.article .header.item img.logo {
    width: 4rem !important;
    /* transform: translateX(-50%); */
}

.article .column {
    padding: 1rem !important;
}

.article .card {
    box-shadow: 0px 2px 9px #eaeaea !important;
    width: 100% !important;
}

.article .noradius {
    border-radius: 0 !important;

}
.ui.navigator .right.menu .item{
    position: relative !important;
}
.ui.navigator .right.menu .item:active{
    border:none !important;
}
.ui.navigator .right.menu .activeitem.item:after{
    display: initial !important;
    visibility: visible !important;
    border:none !important;
    transform: none !important;
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.87) !important;
    width: auto;
    height: 1px !important;
    top: auto;
    left:  1.14285714em !important;
    right:  1.14285714em !important;
    bottom: .55714286em !important;
}